<?xml version="1.0"?>
<config>
    <modules>
        <Loewenstark_CurrencyEcb>
            <version>1.0.0</version>
        </Loewenstark_CurrencyEcb>
    </modules>
    <global>
        <blocks>
            <currencyecb>
                <class>Loewenstark_CurrencyEcb_Block</class>
            </currencyecb>
        </blocks>
        <helpers>
            <currencyecb>
                <class>Loewenstark_CurrencyEcb_Helper</class>
            </currencyecb>
        </helpers>
        <models>
            <currencyecb>
                <class>Loewenstark_CurrencyEcb_Model</class>
            </currencyecb>
        </models>
        <currency>
            <import>
                <services>
                    <currencyecb>
                        <name>ecb.europa.eu</name>
                        <model>currencyecb/currency_import_ecb</model>
                    </currencyecb>
                </services>
            </import>
        </currency>
    </global>
    <adminhtml>
        <events>
            <controller_action_predispatch_adminhtml_system_currency_index>
                <observers>
                    <currencyecb>
                        <class>currencyecb/observer</class>
                        <method>eventSetCurrencyRateService</method>
                    </currencyecb>
                </observers>
            </controller_action_predispatch_adminhtml_system_currency_index>
        </events>
    </adminhtml>
</config>